---
layout: default
---

{% comment %}JSON-LD Structured Data for Pages{% endcomment %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "name": {{ page.title | jsonify }},
  "description": {{ page.excerpt | default: page.description | strip_html | normalize_whitespace | truncate: 160 | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ site.author.name | jsonify }},
    "url": {{ site.url | append: site.baseurl | jsonify }}
  },
  "inLanguage": "{{ page.lang | default: site.default_lang }}",
  "url": {{ site.url | append: site.baseurl | append: page.url | jsonify }}
}
</script>

<div class="page">
  {{ content }}
</div>
